<ul>
<% @job_titles.most_popular.each do |job_title, count| %>
    <li><%= job_title %> - <%= count %></li>
    <% end %>

    </ul>

<% @job_titles.each do |job_title| %>
    <%= job_title.title %>
   <ul>
    <% job_title.applications.each do |application| %>
<li>
    <%= link_to application.company, application_path(application)%>
    </li>
    <% end %>
    </ul>
    <% end %>