@import "bootstrap";

/* Navbar and navigation styles */

.bg-light {
    padding-top: 6px;
    padding-bottom: 5px;
    letter-spacing: 1px;
    word-spacing: 1px;
}

/* Font Styles */ 

h1 {
    padding-left: 20px;
}

p {
    padding-left: 20px;
    font-size: 10;
}

h3 {
    padding-left: 20px;
    font-size: 14;
}

li {
    padding-left: 20px;
}


