<h1>About JobTrackr</h1>

<p>JobTrackr is a way to for an applicant to organize all the information that an application requires.</p>

<p>Fill in an application form with fields for:</p><br>
    <li>Company</li>
    <li>Job Title</li>
    <li>Location</li>
    <li>Salary</li>
    <li>Job URL</li>
    <li>Description</li>
    <li>Date Applied</li><br>

<h3>Create a new application above!</h3>